.content {
    text-align: center;
    color: white;
    padding: 20px; /* Adjusted padding */
    margin-top: 12%;
}

.content h1 {
    font-size: 48px; /* Adjusted font size */
    margin-bottom: 20px; /* Adjusted margin */
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px; /* Adjusted margin */
}

button {
    width: 200px;
    height: 50px;
    margin: 20px auto; /* Adjusted margin */
    display: block;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #127230;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #127230; /* Adjusted color */
}

.link_underline {
    text-decoration: none;
    color: #FFFFFF;
    font-size: xx-large;
}
